{% extends 'base.html' %}
{% load static %}

{% block title %}
    Best Bank
{% endblock %}

{% block body %}
    <div class="container my-4 py-4 px-4 border shadow-sm rounded section">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="fw-bold text-dark text-center text-sm-start">Welcome {{ user.first_name }},</h1>
                <h2 class="text-dark text-center text-sm-start">Current Balance: $<span id="balance">1000</span></h2>
            </div>
        </div>
    </div>

    <div class="container my-5 py-4 px-4 border shadow-sm rounded section">
        <h2>Transactions</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Balance</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr class="x">
                    <th scope="row">{{ transaction.date.date }}</th>
                    {% if transaction.from_user == user %}
                        <td>To {{ transaction.from_user.username }}</td>
                        <td>Sent</td>
                        <td id="amount">-${{ transaction.amount }}</td>
                    {% else %}
                        <td>From {{ transaction.from_user.username }}</td>
                        <td>Received</td>
                        <td id="amount">+${{ transaction.amount }}</td>
                    {% endif %}
                    <td id="rem_Bal">test</td>
                </tr>

                <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
                <script>
                    {#let amount = 1000;#}
                    {#$('.x').attr('td').each( function (index, element) {#}
                        let balance = parseInt($('#balance').text());
                        {#alert(balance);#}

                        {#alert($('#transaction').text().substring(0,1));#}
                        let sign = $('#amount').text().substring(0,1);
                        let change = parseInt($('#amount').text().substring(2));

                        if (sign === '-') {
                            balance -= change
                        } else if (sign === '+') {
                            balance += change
                        }
                        {#alert(balance)#}
                        $('#rem_Bal').text('$' + (balance));
                        $('#balance').text(balance)


                    {#$('.transaction').each(#}
                    {#    $(element).attr#}
                    {#    );#}
                </script>

            {% empty %}
                <p class="text-start lead">You currently do not have any transactions</p>


            {% endfor %}


            </tbody>
        </table>



    </div>



{% endblock %}

