{% extends 'bestbank/../../templates/accounts/../../templates/base.html' %}
<!--{load crispy_forms_tags %} -->

{% block title %}
   Send Money
{% endblock %}
{% block body %}

<div class="row justify-content-center">
<div class="col-sm-9 pb-2 px-2 my-3 pt-3">
    <div class="card w-100 mx-auto">
        <h5 class="card-header">Send Money</h5>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary" type="submit">Send Money</button>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}

