{% extends 'bestbank/../../templates/accounts/../../templates/base.html' %}
<!--{load crispy_forms_tags %} -->

{% block title %}
    Login
{% endblock %}
{% block body %}

<div class="row justify-content-center">
<div class="col-sm-9 pb-2 px-2 my-3 pt-3">
    <div class="card w-100 mx-auto">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

    <div class="container my-4 py-5 px-4 border shadow-sm rounded section bg-light">
    <div class="row align-items-center">
        <div class="col-lg-8">
            <h1 class="fw-bold text-dark text-center text-sm-start">Not a customer yet?</h1>
            <p class="mt-3 px-1 lead"><a href="{% url 'accounts:register' %}">Register Here</a></p>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/signup.svg' %}" class="img-fluid" alt="banking">
        </div>
    </div>
</div>
</div>

{% endblock %}
